<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f8296">  <td>20/08/31 21:59:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartAutoQuoteTestNG.StartAutoQuote()[pri:0, instance:ProgressivePagesTest.StartAutoQuoteTestNG@223f3642]">StartAutoQuote</td> 
  <td>main@1559122513</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>20/08/31 21:59:43</td>   <td>-4061</td> <td>&nbsp;</td><td title="&gt;&gt;StartAutoQuoteTestNG.setUpTest()[pri:0, instance:ProgressivePagesTest.StartAutoQuoteTestNG@223f3642]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1559122513</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>20/08/31 22:00:58</td>   <td>70915</td> <td>&nbsp;</td><td title="&lt;&lt;StartAutoQuoteTestNG.terminate()[pri:0, instance:ProgressivePagesTest.StartAutoQuoteTestNG@223f3642]">&lt;&lt;terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1559122513</td>   <td></td> </tr>
</table>
