<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f8296">  <td>20/08/31 18:19:06</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;GoogleHomePageTest.BeforeTest()[pri:0, instance:GooglePageTest.GoogleHomePageTest@16e7dcfd]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="e8eaa7">  <td>20/08/31 18:19:11</td>   <td>5302</td> <td>&nbsp;</td><td title="&gt;&gt;StartAutoQuoteTestNG.setUpTest()[pri:0, instance:ProgressivePagesTest.StartAutoQuoteTestNG@222114ba]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="e8eaa7">  <td>20/08/31 18:19:15</td>   <td>8742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartAutoQuoteTestNG.StartAutoQuote()[pri:0, instance:ProgressivePagesTest.StartAutoQuoteTestNG@222114ba]">StartAutoQuote</td> 
  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>20/08/31 18:20:37</td>   <td>91120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleHomePageTest.performSearch()[pri:0, instance:GooglePageTest.GoogleHomePageTest@16e7dcfd]">performSearch</td> 
  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>20/08/31 18:20:40</td>   <td>94207</td> <td>&nbsp;</td><td title="&lt;&lt;GoogleHomePageTest.terminate()[pri:0, instance:GooglePageTest.GoogleHomePageTest@16e7dcfd]">&lt;&lt;terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="e8eaa7">  <td>20/08/31 18:20:46</td>   <td>99868</td> <td>&nbsp;</td><td title="&lt;&lt;StartAutoQuoteTestNG.terminate()[pri:0, instance:ProgressivePagesTest.StartAutoQuoteTestNG@222114ba]">&lt;&lt;terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@910091170</td>   <td></td> </tr>
</table>
